.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentdash{
  background-color: rgb(212, 238, 238);
}
.dash{
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(52, 21, 45, 0.993);
  height: 80vh;
  width: 100%;

}
.dashhead{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
  color: rgb(216, 243, 85);
  font-size : 50px;
}
.dashboard{
display: flex;
align-items: center;
justify-content: center;
color: rgb(24, 94, 19);  
}

.editstudentform{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 230, 211);
  font-family:'Times New Roman', Times, serif;
}

.liststudents{
  background-color: #b7eead;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.listassignbooks{
  background-color: #e7e1c0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: brown;
}

.bookform{
 background-color: #b7eead;
font-family: fantasy;
}

.createbook{
  font-family: 'Times New Roman', Times, serif;
}
